# AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
APP_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# DB
DATABASE_URL=your_drizzle_database_url_here

# Social Media Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=